body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: #222;
  color: #fff;
  padding: 20px;
}

footer {
  background-color: #ccc;
  padding: 20px;
  text-align: center;
}

.navSection {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  border: 1px solid black;
}

.displayContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid black;
}

.mainImage {
  height: 100vh;
  width: 100vw;
}

.displayCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 500px;
  border: 1px solid black;
}

.cardImage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.searchResultImage {
  height: 300px;
  width: 300px;
}

.hidden {
  display: none;
}
