body {
  background-color: F8EFDA;
  color: black;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #222;
  color: #fff;
  padding: 20px;
  font-family: "Lobster Two", cursive;
  font-weight: 700;
  font-size: 55px;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  border: 3px solid black;
  background-color: lightgray;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  font-size: 15px;
}

.homeLink {
  background-color: white;
  color: black;
  border: 3px solid black;
  padding: 4px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid black;
}

.homeLink:hover {
  background-color: black;
  color: white;
  padding: 4px 14px;
  border: 1px solid white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.display {
  display: flex;
}

.dispFavContainer {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.displayCardFP {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 5px;
}

.favImage {
  width: 100%;
  --s: 10px; /* control the size */
  padding: var(--s);
  border: calc(2*var(--s)) solid #0000;
  outline: 1px solid #000;
  outline-offset: calc(-1*var(--s));
  background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
}

.favImageDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}

.imageTitle {
  margin: 2%;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-size: small;
}

.artistName {
  margin: 2%;
  color: grey;
  font-family: "Libre Baskerville", serif;
  text-align: center;
  font-size: smaller;
}

.wordCloudContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  width: 70%;
  --s: 10px; /* control the size */
  padding: var(--s);
  border: calc(2*var(--s)) solid #0000;
  outline: 1px solid #000;
  outline-offset: calc(-1*var(--s));
  background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
}

.wordCloudDescription {
  text-align: center;
  padding-bottom: 2%;
  font-family: "Libre Baskerville", serif;
}

.wordCloudImage {
  background-color: rgb(45, 45, 45);
  width: 100%;
  padding-top: 2%;
}

.darkMode {
  background-color: rgba(231, 230, 230, 0.726);
  color: white;
}

.button {
  margin: 5px;
}

.removeButton {
  cursor: pointer;
  padding: 2px;
}

footer {
  font-family: "Libre Baskerville", serif;
  font-size: smaller;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
  background-color: #222;
  color: #fff;
  padding: 20px;
}
