.header {
  text-align: center;
  border: 1px solid black;
}

.nav {
  border: 1px solid black;
  margin: 10px;
}

.display {
  display: flex;
}

.dispFavContainer {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.displayCardFP {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 5px;
}

.favImage {
  width: 100%;
  border: 1px solid black;
}

.favImageDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}

.imageTitle {
  margin: 5px;
}

.artistName {
  margin: 5px;
  color: grey;
}

.wordCloudContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  height: 500px;
  width: 500px;
  border: 1px solid black;
}

.wordCloudDescription {
  border: 1px solid black;
}

.wordCloudImage {
  height: 500px;
  width: 500px;
  border: 1px solid black;
}

.button {
  margin: 5px;
}
