body {
  background-color: F8EFDA;
  color: black;
}

.header {
  text-align: center;
  border: 1px solid black;
}

.nav {
  border: 1px solid black;
  margin: 10px;
}

.display {
  display: flex;
}

.dispFavContainer {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.displayCardFP {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 5px;
}

.favImage {
  width: 100%;
  /* border: 1px solid black; */
  --s: 10px; /* control the size */
  padding: var(--s);
  border: calc(2*var(--s)) solid #0000;
  outline: 1px solid #000;
  outline-offset: calc(-1*var(--s));
  background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
}

.favImageDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}

.imageTitle {
  margin: 5px;
}

.artistName {
  margin: 5px;
  color: grey;
}

.wordCloudContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  width: 70%;
  /* height: 500px; */
  --s: 10px; /* control the size */
  padding: var(--s);
  border: calc(2*var(--s)) solid #0000;
  outline: 1px solid #000;
  outline-offset: calc(-1*var(--s));
  background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
}

.wordCloudDescription {
  text-align: center;
  padding-bottom: 2%;
}

.wordCloudImage {
  background-color: rgba(231, 230, 230, 0.726);
  width: 100%;
  padding-top: 2%;
}

.darkMode {
  background-color: rgb(45, 45, 45);
  color: white;
}

.button {
  margin: 5px;
}
