body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #222;
  color: #fff;
  padding: 20px;
}

footer {
  background-color: #ccc;
  padding: 20px;
  text-align: center;
}

.navSection {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  border: 1px solid black;
}

.displayContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid black;
}

.mainImage {
  height: 100vh;
  width: 100vw;
}

.displayCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin: 10px;
  border: 1px solid black;
}

.cardImage {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.searchResultImage {
  height: auto;
  width: 95%;
}

.hidden {
  display: none;
}

.frame {
  --corner: 1em;
  --bg: rgb(0, 145, 255);
}

.warning {
  border: var(--corner) solid;
  border-image-source: repeating-linear-gradient(
    45deg,
    transparent 0px,
    transparent 4px,
    var(--bg) 4px,
    var(--bg) 8px,
    transparent 8px
  );
  border-image-repeat: stretch;
  /* no idea how slicing works on a repeated gradient, but this seems to be okay? */
  border-image-slice: 35;
}

.disco {
  border: var(--corner) solid;
  border-image-source: radial-gradient(
    closest-side,
    transparent 10%,
    var(--bg) 10%,
    var(--bg) 20%,
    transparent 20%,
    transparent 30%,
    var(--bg) 30%,
    var(--bg) 40%,
    transparent 40%,
    transparent 50%,
    var(--bg) 50%,
    var(--bg) 60%,
    transparent 60%,
    transparent 70%,
    var(--bg) 70%,
    var(--bg) 80%,
    transparent 80%,
    transparent 90%,
    var(--bg) 99.99%,
    var(--bg) 100%,
    transparent 99.99%
  );
  border-image-slice: 49%;
}
