body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #222;
  color: #fff;
  padding: 20px;
}

.title {
  margin: 20px 20px;
  height: 75px;
  width: 400px;
  font-family: "Lobster Two", cursive;
  font-weight: 700;
  font-size: 55px;
}

footer {
  background-color: #ccc;
  padding: 20px;
  text-align: center;
}

.navSection {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  border: 3px solid black;
  background-color: lightgray;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  font-size: 25px;
}

.favLink {
  background-color: white;
  color: black;
  border: 3px solid black;
  padding: 4px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid black;
}

.favLink:hover {
  background-color: black;
  color: white;
  padding: 4px 14px;
  border: 1px solid white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button {
  cursor: pointer;
  padding: 7px;
}

.searchInput {
  padding: 7px;
  font-size: 15px;
}

.searchInput:focus {
  color: black;
  border: 4px solid white;
}

.displayContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid black;
}

.mainImage {
  height: 100vh;
  width: 100vw;
}

.displayCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin: 10px;
  --s: 10px; /*control the size*/
  padding: 7px;
  border: calc(2 * var(--s)) solid #0000;
  outline: 2px solid #000;
  outline-offset: calc(-1 * var(--s));
  background: conic-gradient(from 90deg at 2px 2px, #0000 25%, #000 0);
}

.cardImage {
  display: flex;
  width: 100%;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artInfo {
  margin: 5%;
  text-align: center;
  font-family: "Libre Baskerville", serif;
}

.artName {
  font-family: "Libre Baskerville", serif;
}

.favoriteButton {
  margin-top: 3%;
}

.artistName {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-style: italic;
}

.searchResultImage {
  height: auto;
  width: 95%;
}

.hidden {
  display: none;
}

/* styling for application title frame */
.frame {
  --corner: 1em;
  --bg: rgb(0, 145, 255);
}

.disco {
  border: var(--corner) solid;
  border-image-source: radial-gradient(
    closest-side,
    transparent 10%,
    red 10%,
    orange 20%,
    transparent 20%,
    transparent 30%,
    yellow 30%,
    var(--bg) 40%,
    transparent 40%,
    transparent 50%,
    green 50%,
    rgb(32, 199, 32) 60%,
    transparent 60%,
    transparent 70%,
    var(--bg) 70%,
    aqua 80%,
    transparent 80%,
    transparent 90%,
    purple 99.99%,
    var(--bg) 100%,
    transparent 99.99%
  );
  border-image-slice: 49%;
}

.brackets {
  border: 10px solid;
  border-image-source: conic-gradient(
    transparent 10%,
    yellow 10%,
    var(--bg) 40%,
    transparent 40%,
    transparent 60%,
    red 60%,
    var(--bg) 90%,
    transparent 90%
  );
  /* browsers have different thresholds for this, Safari needs at least 0.1% */
  border-image-slice: 0.1%;
}
