body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: #222;
  color: #fff;
  padding: 20px;
}

footer {
  background-color: #ccc;
  padding: 20px;
  text-align: center;
}

.navSection {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  border: 1px solid black;
}

.displayContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid black;
}

.mainImage {
  height: 100vh;
  width: 100vw;
}

.displayCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin: 10px;
  /* border: 1px solid black; */
  --s: 10px; /*control the size*/
  padding: 7px;
  border: calc(2*var(--s)) solid #0000;
  outline: 1px solid #000;
  outline-offset: calc(-1*var(--s));
  background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
}

.cardImage {
  display: flex;
  width: 100%;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.artInfo{
  margin: 5%;
  text-align: center;
}

.favoriteButton{
  margin-top: 3%

}

.searchResultImage {
  height: auto;
  width: 95%;
}

.hidden {
  display: none;
}
