body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: #222;
  color: #fff;
  padding: 20px; 
}

.header1{
  margin: 20px auto;
  padding: 15px;
  height: 75px;
  width: 400px;
  background-color: dimgray;
  box-shadow: 
 10px 10px 50px rgba(0,0,0,.5),
-1px -1px 2px rgba(255,255,255,1);
font-family: 'Lobster Two', cursive;
font-weight: 700;
font-size: 55px;
}

footer {
  background-color: #ccc;
  padding: 20px;
  text-align: center;
}

.navSection {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  border: 3px solid black;
  background-color: lightgray ;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  font-size: 25px;
}

.favLink{
  background-color: white;
  color: black;
  border: 3px solid black;
  padding: 4px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid black;
}

.favLink:hover{
  background-color: black;
  color: white;
  padding: 4px 14px;
  border: 1px solid white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button{
  cursor: pointer;
  padding: 7px;
}

.searchInput{
  padding: 7px;
  font-size: 15px;
}

.searchInput:focus{
  /* background-color: gray; */
  color: black;
  border: 4px solid white;
}

.displayContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid black;
}

.mainImage {
  height: 100vh;
  width: 100vw;
}

.displayCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin: 10px;
  /* border: 1px solid black; */
  --s: 10px; /*control the size*/
  padding: 7px;
  border: calc(2*var(--s)) solid #0000;
  outline: 2px solid #000;
  outline-offset: calc(-1*var(--s));
  background: conic-gradient(from 90deg at 2px 2px,#0000 25%,#000 0);
 }

.cardImage {
  display: flex;
  width: 100%;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.artInfo{
  margin: 5%;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

.artName{
  font-family: 'Libre Baskerville', serif;
}

.favoriteButton{
  margin-top: 3%

}

.artistName{
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-style: italic;
}

.searchResultImage {
  height: auto;
  width: 95%;
}

.hidden {
  display: none;
}
